<section style="padding-bottom:10px;">
            <div class="container ">
                <div class="row raisedbox">
   
                    <ul class="nav nav-tabs">
    <li class="active">
        <a data-target="#enquiry" data-toggle="tab">Enquires</a>
    </li>
    <li class="">
        <a data-target="#profile" data-toggle="tab">Profile</a>
    </li>
   
</ul>

<div class="tab-content">
    <div id="profile" class="tab-pane  raisedbox" >
        <profile-tab></profile-tab>
    </div>
    <div id="enquiry" class="tab-pane active raisedbox">
        <enquiry-tab></enquiry-tab>
    </div>
</div>
                    </div>
                </div>
            </section>
