<section class="section-padding" ng-init="termsdesc()">
<div class="container">
  <div class="row raisedbox">
    <!-- <div class="col-lg-2"></div> -->
    <div class="col-lg-12">
      <div class="col-lg-offset-4 col-lg-4">
      <div><img src="resources/images/logosss_new.png" class="image-responsive  img-event"></div>
      <h2 class="section-title text-center wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">Contact Us</h2>
      </div>
      </div>
      <div class="col-lg-12">
      <div class="col-lg-offset-4 col-lg-4"><p class="text-center wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
       We are here to help you, Please send your queries through email or chat. <br>

Email Us - <b>admin@smartgrowth.in</b>
<br></p>
</div>
</div>
<div class="col-lg-12">
<div class="col-lg-offset-4 col-lg-4">
<div class="address wow fadeInLeft text-center" data-wow-duration="500ms" data-wow-delay=".5s">
                            <i class="ion-ios-location-outline"></i> &nbsp;Address:
                            <h5>Ground Floor, Slv Plaza, Arvind Avenue,<br> Marathahalli, Bangalore - 560037, <br>
Opposite Hyper Market, Kundalhalli Gate</h5>
                        </div>
                        </div>
                        </div>
                        <div class="col-lg-12 iframe-rwd">
<iframe src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d62211.743721491686!2d77.67956038213849!3d12.956874108527053!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m3!3m2!1d12.9603035!2d77.7144076!4m5!1s0x3bae123bc57cd0af%3A0x33b4946377e923ba!2sSLV+Plaza%2C+60+Feet+Rd%2C+AECS+Layout%2C+Marathahalli%2C+Bengaluru%2C+Karnataka+560037!3m2!1d12.956792799999999!2d77.71458!5e0!3m2!1sen!2sin!4v1467362630927" width="1100" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>


      </p>
    </div>
    <!-- <div class="col-lg-2"></div> -->
  </div>
</div>
</section>