<section class="section-padding" ng-init="termsdesc()">
<div class="container">
  <div class="row raisedbox">
    <!-- <div class="col-lg-2"></div> -->
    <div class="col-lg-12">
      <h2 class="section-title text-center wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">Internship @ Smartgrowth </h2>
      <p class="text-center wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
       


<div class="col-lg-12">
<div class="col-lg-6"><p><h3>Internship for Android Developer </h3>
<h4>About the Internship:</h4>
The selected intern(s) will work on following during the internship: 
<ol>
<li>Android App Development </li>
<li>Understanding the Android and API integration. </li>
<li>Must done Any certification in android or training</li>
<li>Testing the app which is interacting.</li>
<li>Trainee will get some stipend based on qualification</li>
# of Internships available: 1
</ol>

<h4>Who can apply:</h4>

<ul style="list-style-type:none;">
<li>Only applicants from Bangalore can apply.</li>
<li>Skill(s) required: Java and Android.</li>
<li>Degree(s): Engineering (B.Tech/B.E/MCA & Similar).</li>
<li>Year of degree completion: 2015 or earlier, 2016.</li>
<li>Only applicants who are available full time for a minimum duration of 3 month(s) can apply.</li>
<li>Applicants should be available to start the internship immediately. </li>
</ul>
</p>
</div>
<div class="col-lg-6">
<p><h3>Internship for web Developer </h3>

<h4>About the Internship:</h4>
The selected intern(s) will work on following during the internship: 
<ol>
<li>Web App Development </li>
<li>Understanding the HTML, CSSS and Angular JS.  </li>
<li>Must done Any certification in Web Application or training </li>
<li>Testing the website which is interacting. </li>
<li>Trainee will get some stipend based on qualification. </li>
# of Internships available: 1
</ol>

<h4>Who can apply:</h4>
<ul style="list-style-type:none;">
<li>Only applicants from Bangalore can apply.</li>
<li>Skill(s) required: HTML, CSS, Angular, PHP any server scripting programming.</li>
<li>Degree(s): Engineering (B.Tech/B.E/MCA & Similar).</li>
<li>Year of degree completion: 2015 or earlier, 2016.</li>
<li>Only applicants who are available full time for a minimum duration of 3 month(s) can apply.</li>
<li>Applicants should be available to start the internship immediately. </li>
</ul>
</p>
</div>
</div>
<div class="col-lg-12">
<div class="col-lg-6"><p>
<h3>Internship for Backend Developer </h3>

<h4>About the Internship:</h4>
The selected intern(s) will work on following during the internship: 
<ol>
<li>Java Development </li>
<li>Understanding the Java and Mysql. </li>
<li>Must done Any certification in Java or training</li>
<li>Testing the web app which is interacting.</li>
<li>Trainee will get some stipend based on qualification</li>
# of Internships available: 1
</ol>
<h4>Who can apply:</h4>
<ul style="list-style-type:none;">
<li>Only applicants from Bangalore can apply.</li>
<li>Skill(s) required: Java and Mysql.</li>
<li>Degree(s): Engineering (B.Tech/B.E/MCA & Similar).</li>
<li>Year of degree completion: 2015 or earlier, 2016.</li>
<li>Only applicants who are available full time for a minimum duration of 3 month(s) can apply.</li>
<li>Applicants should be available to start the internship immediately. </li>
</ul>
</p>
</div>
<div class="col-lg-6">
<p>
<h3>Internship for Marketing</h3>

<h4>About the Internship:</h4>
The selected intern(s) will work on following during the internship: 
<ol>
<li>Must have knowledge of SEO, SEM and Digital marketing</li>
<li>Must done Any certification in Marketing or training</li>
<li>Trainee will get some stipend based on qualification</li>
# of Internships available: 1
</ol>
<h4>Who can apply:</h4>
<ul style="list-style-type:none;">
<li>Only applicants from Bangalore can apply.</li>
<li>Skill(s) required: Any course or training on Marketing</li>
<li>Degree(s): Any Degree</li>
<li>Year of degree completion: 2015 or earlier, 2016.</li>
<li>Only applicants who are available full time for a minimum duration of 3 month(s) can apply.</li>
<li>Applicants should be available to start the internship immediately.</li>
</ul>
</p>
</div>
</div>
<div class="col-lg-12 text-center">
<h3>Freelancer required</h3>
<p>We required Freelancer content writer for kids story, recipes ans blogs. We will share revenue on every recipes blog and story as much we charge from our customer. 
</p>
<p>Please Share your resume or work sample with samrtgrowth. 
Email Us: admin@smartgrowth.in
</p>
</div>
    </div>
    <!-- <div class="col-lg-2"></div> -->
  </div>
</div>
</section>