<style type="text/css">
   input[type="text"],textarea[type="text"] {
   background-color : #EEEEEE;
   }

</style>
<div class="row" style="padding:10px;">
  <h3 style="color:#ff3f3f; padding-left:10px;">Enter Details</h3>
  <div class="col-lg-6 ">
    <div>
      Birthday <br><br>
      <select ng-model="celebration.type" ng-change="selectedvalue()" style="width:100%; height:34px;">
        <option ng-repeat="x in type" value="{{x}}">{{x}}</option>
      </select>
    </div><br>
    <div>Add name<br><br>
        <input type="text" class="form-control" ng-model="celebration.name">
      </div>
      <br>
    <div>Weblink<br><br>
        <input type="text" class="form-control" ng-model="celebration.webLink">
      </div>
      <br>
      <div>Adress<br><br>
        <input type="text" class="form-control" ng-model="celebration.streetAddress">
      </div>
      <br>
      <div>Pin<br><br>
        <input type="text" class="form-control" ng-model="celebration.pincode">
      </div>
      <br>

<div>Facility<br><br>
      <textarea type="text" class="form-control" ng-model="celebration.facilities"></textarea>
    </div><br>
        <div>
      Speciality<br><br>
      <textarea type="text" class="form-control" ng-model="celebration.specialities"></textarea>
    </div>
  </div>

  <div class="col-lg-6 " style="height:500px;">

    <div class="row" style="padding:10px; padding-top:0px;">

      <div>Timing<br><br>
        <input type="text" class="form-control" ng-model="celebration.timings">
      </div>
      <br>
      <div>Price Range<br><br>
        <input type="text" class="form-control" ng-model="celebration.priceRange">
      </div>
      <br>
      <div>
        Contact Number <br><br>
        <input type="text" class="form-control" disabled value="+91" style="width:10%; float:left;"/>
        <input type="text" class="form-control" ng-model="celebration.phoneNumber" style="width:85%; float:right;"/>
      </div>
      <br><br>
      <br>
      <div style="margin:bottom:10px;">
        <input type="submit" ng-click="addbirthday()" class="form-control btn btn-default btn-send"
               value="Submit New Service" style="background-color:#ff3f3f;">
      </div>
    </div>
  </div>
