<style type="text/css">
   input[type="text"],textarea[type="text"] {
   background-color : #EEEEEE;
   }

</style>
<div class="row" style="padding:10px;">
  <h3 style="color:#ff3f3f; padding-left:10px;">Enter Details For Day Care Center</h3>
  <form id="main-contact-form" name="contact-form" ng-submit="addkidcareservice()">
  <div class="col-lg-6 form-group">
    <div>Name of Care<br><br>
        <input type="text" class="form-control" ng-model="kidcareobj.name" placeholder="Name Of Care">
      </div>
      <br>
    <br>
    <div>
      Age Group
      <br><br>
      <input type="checkbox" ng-model="ageGroup.to1_3">&nbsp; 1 to 3 years<br>
      <input type="checkbox" ng-model="ageGroup.to3_5">&nbsp; 3 to 5 years<br>
      <input type="checkbox" ng-model="ageGroup.to5_8">&nbsp; 5 to 8 years<br>
    </div>
    <br>
    <div>Facilities<br><br>
      <textarea type="text" class="form-control" ng-model="kidcareobj.facilities" placeholder="Facilities"></textarea>
    </div>
<br>
<div>
      Specialities<br><br>
      <textarea type="text" class="form-control" ng-model="kidcareobj.specialities" placeholder="Specialities"></textarea>
    </div>
<br>
      <div>Address<br><br>
        <input type="text" class="form-control" ng-model="kidcareobj.address" placeholder="Address">
      </div><br>
  </div>
  <div class="col-lg-6 form-group">

      <div>Pin<br><br>
        <input type="text" class="form-control" ng-model="kidcareobj.pincode" placeholder="Pincode">
      </div>
      <br>
      <div>Timing<br><br>
        <input type="text" class="form-control" ng-model="kidcareobj.timings" placeholder="Timings">
      </div>
      <br>
      <div>Charges<br><br>
        <input type="text" class="form-control" ng-model="kidcareobj.fees" placeholder="Charges">
      </div>
      <br>
      <div>
        Contact Number <br><br>
        <input type="text" class="form-control" disabled value="+91" style="width:10%; float:left;"/>
        <input type="text" class="form-control" ng-model="kidcareobj.phoneNumber" style="width:85%; float:right;" placeholder="Contact Number" />
      </div>
      <br><br>
      <br>
      <div style="margin:bottom:10px;">
        <input type="submit" class="form-control btn btn-default btn-send"
               value="Submit New Service" style="background-color:#5c6bc0;">
      </div>
  </div></form>
</div>