<style type="text/css">
   input[type="text"],textarea[type="text"] {
   background-color : #EEEEEE;
   }

</style>
<div class="row" style="padding:10px;">
  <h3 style="color:#ff3f3f; padding-left:10px;">Enter Details</h3>
  <form id="main-contact-form" name="contact-form" ng-submit="addschoolservice()">
  <div class="col-lg-6 form-group">
    <div>
      School <br><br>
      <select  ng-model="schoolobj.type" ng-change="selectedvalue()" style="width:100%; height:34px;">
        <option ng-repeat="x in type" value="{{x}}">{{x}}</option>
      </select>
    </div>  <br>
    <div>School name<br><br>
        <input type="text" class="form-control" ng-model="schoolobj.name" placeholder="School Name" required>
      </div>
      <br>
      <div>Address<br><br>
        <input type="text" class="form-control" ng-model="schoolobj.streetAddress" placeholder="Address" required>
      </div>
      <br>
            <div>Locality<br><br>
        <input type="text" class="form-control" ng-model="schoolobj.locality" placeholder="Locality" required>
      </div><br>
      <div>Pin<br><br>
        <input type="text" class="form-control" ng-model="schoolobj.pincode" placeholder="Pincode" required>
      </div><br>
    
<div>Facility<br><br>
      <textarea type="text" class="form-control" ng-model="schoolobj.facilities" placeholder="Facilities"></textarea>
    </div>
<br>
<div>
      Speciality<br><br>
      <textarea type="text" class="form-control" ng-model="schoolobj.specialities" placeholder="Specialities"></textarea>
    </div><br>
  </div>
  <div class="col-lg-6 form-group">

      <div>Timing<br><br>
        <input type="text" class="form-control" ng-model="schoolobj.timings" placeholder="Timings" required>
      </div>
      <br>
      <div>Charges<br><br>
        <input type="text" class="form-control" ng-model="schoolobj.fees" placeholder="Charges" required>
      </div>
      <br>
      <div>
        Contact Number <br><br>
        <input type="text" class="form-control" disabled value="+91" style="width:10%; float:left;"/>
        <input type="text" class="form-control" ng-model="schoolobj.phoneNumber" pattern="[0-9]{10}" style="width:85%; float:right;" placeholder="Enter 10 digit Number" required/>
      </div>
      <br><br>
      <br>
      <div style="margin:bottom:10px;">
        <input type="submit" class="form-control btn btn-default btn-send button-std"
               value="Submit New Service">
      </div>
  </div></form>
</div>