<div class="row" style="padding:10px;">
   <h3 style="color:#ff3f3f; padding-left:10px;">Enter Details</h3>
   <form id="main-contact-form" name="contact-form" ng-submit="addsportservice()">
   <div class="col-lg-6 form-group">
      <div>
         Sports Academy <br><br>
         <select ng-model="sportobj.type"  ng-change="selectedvalue()"  style="width:100%;height:34px;">
            <option ng-repeat="x in clubs" value="{{x}}">{{x}}</option>
         </select>
      </div>
      <br>
      <div>
         Name<br><br>
         <input type="text" class="form-control" ng-model="sportobj.name" placeholder="Academy / Trainer Name" required>
      </div>
      <br>
      <div>
         Address <br><br>
         <input type="text" class="form-control" ng-model="sportobj.streetAddress" placeholder="Address" required>
      </div>
      <br>
              <div class="btn-group" style="width:100%;">
                    City<br><br>
                     <input type="text" class="form-control" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-model="cityselected" placeholder="City" required/>                     
                     <div class="dropdown-menu city-dropdown">
                        <ul style="background-color:#fff;">
                        <li class="city-item" ng-click="getlocalityInfo('bangalore'); cityselected = 'Bangalore'">Bangalore
                        </li>
                     </ul>
                     </div><br>

                  </div><br>
            <div class="btn-group" style="width:100%;">
                    Pincode<br><br>
                     <input type="text" class="form-control" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-model="sportobj.pincode" placeholder="Pincode" required/>                     
                     <div class="dropdown-menu locality-dropdown">
                        <ul style="background-color:#fff;">
                        <li ng-repeat="x in pindirec  | filter : sportobj.pincode" class="locality-item" ng-click="pinchange(x.pincode,x.locality)">{{x.locality}}({{x.pincode}})
                        </li>
                     </ul>
                     </div><br>

                  </div>
      <br>
      <div>Facility<br><br>
         <textarea type="text" class="form-control" ng-model="sportobj.facilities" placeholder="Facilities"></textarea>
      </div>
      <br>
   </div>
   <div class="col-lg-6 form-group">

      <div>
         Speciality<br><br>
         <textarea type="text" class="form-control" ng-model="sportobj.specialities" placeholder="Specialities"></textarea>
      </div>
      <br>
        <div>Timing<br><br>
         <input type="text" class="form-control" ng-model="sportobj.timings" placeholder="Timings" required>
      </div>
<br>
      <div>Amount Charged<br><br>
         <input type="text" class="form-control" ng-model="sportobj.fees" placeholder="Amount Charged" required>
      </div>
<br>
      <div>
         Contact Number <br><br>
         <input type="text" class="form-control" disabled value="+91" style="width:10%; float:left;"/>
         <input type="text" class="form-control" ng-model="sportobj.phoneNumber" pattern="[0-9]{10}" style="width:85%; float:right;" placeholder="Enter 10 digit Number" required/>
      </div>
      <br><br>
      <br>
      <div style="margin:bottom:10px;">
         <input type="submit" class="form-control btn btn-default btn-send button-std" value="Submit New Service">
      </div>
</div></form>
</div>