<div class="row" style="padding:10px;">
  <h3 style="color:#ff3f3f; padding-left:10px;">Enter Details</h3>
  <form id="main-contact-form" name="contact-form" ng-submit="addtution()">
  <div class="col-lg-6 form-group">
    <div>
      Subject <br><br>
      <select ng-model="tutionobj.subject" ng-change="selectedvalue()" style="width:100%; height:34px;">
        <option ng-repeat="x in subject" value="{{x}}">{{x}}</option>
      </select>
    </div>  <br>

    <div>
      Age Group
      <br><br>
      <input type="checkbox" ng-model="ageGroup.to1_3">&nbsp; 1 to 3 years<br>
      <input type="checkbox" ng-model="ageGroup.to3_5">&nbsp; 3 to 5 years<br>
      <input type="checkbox" ng-model="ageGroup.to5_8">&nbsp; 5 to 8 years<br>
    </div><br>
    
    <div>
      Class Location
      <br><br>
      <input type="checkbox" ng-model="classLocation.kid_home">&nbsp; At Kid Home<br>
      <input type="checkbox" ng-model="classLocation.teacher_home">&nbsp; At Teacher Home<br>
      <input type="checkbox" ng-model="classLocation.at_instu">&nbsp; At Institute/Coaching <br>
    </div><br>
    <div>
      Board
      <br><br>
      <input type="checkbox" ng-model="boards.cbse">&nbsp; CBSE<br>
      <input type="checkbox" ng-model="boards.icse">&nbsp; ICSE<br>
      <input type="checkbox" ng-model="boards.international">&nbsp; International Board<br>
      <input type="checkbox" ng-model="boards.state">&nbsp; State Board<br>
      <input type="checkbox" ng-model="boards.all">&nbsp; All type of Boards<br>
    </div>
    <br>
     <div>
          Number of days in a week
          <br><br>
          <!-- <form> -->
            <input type="checkbox" ng-model="daysPerWeek.day1">&nbsp; 1 day<br>
            <input type="checkbox" ng-model="daysPerWeek.day2">&nbsp; 2 days<br>
            <input type="checkbox" ng-model="daysPerWeek.day3">&nbsp; 3 days<br>
            <input type="checkbox" ng-model="daysPerWeek.weekend">&nbsp; Weekends<br>
            <input type="checkbox" ng-model="daysPerWeek.daily">&nbsp; Daily<br>
            
          </div>
          <br>
    <div>Name<br><br>
        <input type="text" class="form-control" ng-model="tutionobj.instituteName" placeholder="Institute Name" required>
      </div><br>
    <div>Schools Name<br><br>
        <input type="text" class="form-control" ng-model="tutionobj.schools" placeholder="Schools Name" required>
      </div>
      <br>
      
  </div>
  <div class="col-lg-6 form-group">
  <div>Adress<br><br>
        <input type="text" class="form-control" ng-model="tutionobj.streetAddress" placeholder="Address" required>
      </div>
      <br>
          <div class="btn-group" style="width:100%;">
                    City<br><br>
                     <input type="text" class="form-control" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-model="cityselected" placeholder="City" required/>                     
                     <div class="dropdown-menu city-dropdown">
                        <ul style="background-color:#fff;">
                        <li class="city-item" ng-click="getlocalityInfo('bangalore'); cityselected = 'Bangalore'">Bangalore
                        </li>
                     </ul>
                     </div><br>

                  </div><br>
            <div class="btn-group" style="width:100%;">
                    Pincode<br><br>
                     <input type="text" class="form-control" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-model="tutionobj.pincode" placeholder="Pincode" required/>                     
                     <div class="dropdown-menu locality-dropdown">
                        <ul style="background-color:#fff;">
                        <li ng-repeat="x in pindirec  | filter : tutionobj.pincode" class="locality-item" ng-click="pinchange(x.pincode,x.locality)">{{x.locality}}({{x.pincode}})
                        </li>
                     </ul>
                     </div><br>

                  </div>
      <br>
    <div>Facility<br><br>
      <textarea type="text" class="form-control" ng-model="tutionobj.facilities" placeholder="Facilities"></textarea>
    </div><br>
    <div>
      Speciality<br><br>
      <textarea type="text" class="form-control" ng-model="tutionobj.specialities" placeholder="Specialities"></textarea>
    </div>
<br>
      <div>Timing<br><br>
        <input type="text" class="form-control" ng-model="tutionobj.startHour" placeholder="Timings" required>
      </div>
      <br>
      <div>Charges<br><br>
        <input type="text" class="form-control" ng-model="tutionobj.fees" placeholder="Charges" required>
      </div>
      <br>
      <div>
        Contact Number <br><br>
        <input type="text" class="form-control" disabled value="+91" style="width:10%; float:left;"/>
        <input type="text" class="form-control" ng-model="tutionobj.phoneNumber" pattern="[0-9]{10}" style="width:85%; float:right;" placeholder="Enter 10 digit Number" required/>
      </div>
      <br><br>
      <br>
      <div style="margin:bottom:10px;">
        <input type="submit" class="form-control btn btn-default btn-send button-std"
               value="Submit New Service">
      </div>
  </div>
</form>
</div>