<style type="text/css">
   input[type="text"],textarea[type="text"] {
   background-color : #EEEEEE;
   }

</style>
<div class="row" style="padding:10px;">
  <h3 style="color:#ff3f3f; padding-left:10px;">Enter Details</h3>
  <form id="main-contact-form" name="contact-form" ng-submit="addtution()">
  <div class="col-lg-6 form-group">
    <div>
      Health <br><br>
      <select ng-model="tutionobj.subjects" ng-change="selectedvalue()" style="width:100%; height:34px;">
        <option ng-repeat="x in subject" value="{{x}}">{{x}}</option>
      </select>
    </div>  <br>

    <div>
      Age Group
      <br><br>
      <input type="checkbox" ng-model="ageGroup.to1_3">&nbsp; 1 to 3 years<br>
      <input type="checkbox" ng-model="ageGroup.to3_5">&nbsp; 3 to 5 years<br>
      <input type="checkbox" ng-model="ageGroup.to5_8">&nbsp; 5 to 8 years<br>
    </div><br>
    
    <div>
      Class Location
      <br><br>
      <input type="checkbox" ng-model="classLocation.kid_home">&nbsp; At Kid Home<br>
      <input type="checkbox" ng-model="classLocation.teacher_home">&nbsp; At Teacher Home<br>
      <input type="checkbox" ng-model="classLocation.at_instu">&nbsp; At Institute/Coaching <br>
    </div><br>
    <div>
      Board
      <br><br>
      <form>
      <input type="radio" ng-model="tutionobj.boards" name="board" value="CBSE">&nbsp; CBSE<br>
      <input type="radio" ng-model="tutionobj.boards" name="board" value="ICSE">&nbsp; ICSE<br>
      <input type="radio" ng-model="tutionobj.boards" name="board" value="International Board">&nbsp; International Board<br>
      <input type="radio" ng-model="tutionobj.boards" name="board" value="State Board">&nbsp; State Board<br>
      <input type="radio" ng-model="tutionobj.boards" name="board" value="All type of Boards">&nbsp; All type of Boards<br>
      </form>
    </div>
    <br>
    <div>Name<br><br>
        <input type="text" class="form-control" ng-model="tutionobj.instituteName" placeholder="Name" required>
      </div>
      <br>
      <div>Adress<br><br>
        <input type="text" class="form-control" ng-model="tutionobj.streetAddress" placeholder="Address" required>
      </div>
      <br>
      <div>Pin<br><br>
        <input type="text" class="form-control" ng-model="tutionobj.pincode" placeholder="Pincode" required>
      </div>
      <br>
  </div>
  <div class="col-lg-6 form-group">
    <div>Facility<br><br>
      <textarea type="text" class="form-control" ng-model="tutionobj.facilities" placeholder="Facilities"></textarea>
    </div><br>
    <div>
      Speciality<br><br>
      <textarea type="text" class="form-control" ng-model="tutionobj.specialities" placeholder="Specialities"></textarea>
    </div>
<br>
      <div>Timing<br><br>
        <input type="text" class="form-control" ng-model="tutionobj.startHour" placeholder="Timings" required>
      </div>
      <br>
      <div>Charges<br><br>
        <input type="text" class="form-control" ng-model="tutionobj.fees" placeholder="Charges" required>
      </div>
      <br>
      <div>
        Contact Number <br><br>
        <input type="text" class="form-control" disabled value="+91" style="width:10%; float:left;"/>
        <input type="text" class="form-control" ng-model="tutionobj.phoneNumber" style="width:85%; float:right;" placeholder="Contact Number" required/>
      </div>
      <br><br>
      <br>
      <div style="margin:bottom:10px;">
        <input type="submit" class="form-control btn btn-default btn-send"
               value="Submit New Service" style="background-color:#5c6bc0;">
      </div>
  </div></form>
</div>