<footer id="footer">
                <div class="container ">
                    <div class="row">
                        <div class="col-lg-4">
                            <h3>Category</h3>
                            <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, cumque!</p>-->
                            <ul class="">
                                <li><a href="#">Tuition in Bangalore</a></li>
                                <li><a href="#">Trainer in Bangalore</a></li>
                                <li><a href="#">DayCare in Bangalore</a></li>
                                <li><a href="#">Schools in Bangalore</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-4">
                            <h3>Ask Questions</h3>
                            <!--<p>Tenetur voluptate exercitationem eius tempora! Obcaecati suscipit, soluta earum blanditiis.</p>-->
                            <ul class="">
                                <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                                <li><a href="#">Id inventore, qui necessitatibus sunt.</a></li>
                                <li><a href="#">Deleniti eum odit nostrum eveniet.</a></li>
                                <li><a href="#">Illum consectetur quibusdam eos corporis.</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-4">
                            <h3>Contact Us</h3>
                            <ul class="icons">
                                <li style="float: left;"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></li>
                                <li style="float: left;"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></li>
                                <li style="float: left;"><i class="fa fa-pinterest fa-2x" aria-hidden="true"></i></li>
                                <li style="float: left;"><i class="fa fa-google-plus fa-2x" aria-hidden="true"></i></li>
                                <li style="float: left;"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></li>
                            </ul>
                            <ul class="tabular">
                                <li>
                                    <h3>Address</h3>
                                    Bangalore<br>
                                    
                                </li>
                                <li>
                                    <h3>Mail</h3>
                                    <a href="#">Contact@smartgrowth.in</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer> <!-- /#footer -->