<footer id="footer">
<!-- <a href="https://msg91.com/startups/?utm_source=startup-banner"><img src="https://msg91.com/images/startups/msg91Badge.png" width="120" height="90" title="MSG91 - SMS for Startups" alt="Bulk SMS - MSG91"></a> -->
                <div class="container ">
                    <div class="row">
                        <div class="col-lg-8">
                            <h3>CALL. EMAIL. WRITE. </h3> <br>
                            <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, cumque!</p>-->
                            <div style="margin-top:10px;" >
                            +91 6332874894, 
                            abc@gmail.com, 
Children International
2000 E. Red Bridge Road 
P.O. Box 219055
Kansas City, MO 64121</div>
                        </div>

                            <div class="col-lg-4" style="padding-left:30px;">
            <h3>Get Connected</h3>
            <br>
            <div class="social-icons centeralign" >
               <ul class="nav nav-pills">
                  <li><a href="https://www.facebook.com/healthkhoj"><i class="fa fa-facebook">&nbsp; Facebook</i></a></li>
                  <li><a href="https://www.google.com/url?q=https%3A%2F%2Ftwitter.com%2Fhashtag%2Fhealthkhoj&sa=D&sntz=1&usg=AFQjCNEbIOh9StHuNUU86vL2zQVdvfQ1gw"><i class="fa fa-twitter">&nbsp; Twitter</i></a></li>
                  <li><a href="https://www.linkedin.com/company/10091294?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A10091294%2Cidx%3A1-1-1%2CtarId%3A1441608067236%2Ctas%3Ahealthkhoj"><i class="fa fa-linkedin">&nbsp; LinkedIn</i></a></li>
                  <Br><Br>
               </ul>
            </div>
         </div>
                    </div>
                </div>
            </footer> <!-- /#footer -->