<footer id="footer">
   <div class="container ">
      <div class="row">
         <div class="col-lg-4">
            <h3>Services</h3>
            <br>
            <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, cumque!</p>-->
            <div style="margin-top:10px;" >
               <ul>
               <li><a href="">Tution in Bangalore</a></li>
               <li><a href="">Training in Bangalore</a></li>
               <li><a href="">Kids Events in Bangalore</a></li>
               <li><a href="">Sports in Bangalore</a></li>
               <li><a href="">Celebration in Bangalore</a></li>
               <li><a href="" ui-sref="events">Events in Bangalore</a></li>
               </ul>
            </div>
         </div>
         <div class="col-lg-4">
            <h3>Company</h3>
            <br>
            <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, cumque!</p>-->
            <div style="margin-top:10px;" >
            <ul>
               <li><a href="" ui-sref="contact">Contact Us</a></li>
               <li><a href="" ui-sref="intern">Internship @ SmartGrowth</a></li>
               <li><a ui-sref="terms_policy">Terms & Privacy</a></li>
               <li><a href="">Download parent app</a></li>
               <li><a href="https://play.google.com/store/apps/details?id=com.smartgrowth.provider" target="_blank">Download Provider App</a></li>
               </ul>
            </div>
         </div>
         <div class="col-lg-4" style="padding-left:30px;">
            <h3>Get Connected</h3>
            <br>
            <div class="social-icons centeralign" >
               <ul class="nav nav-pills">
                  <li><a href="https://www.facebook.com/smartgrowthforparents/" target="_blank"><i class="fa fa-facebook">&nbsp; Facebook</i></a></li>
                  <li><a href=""><i class="fa fa-twitter">&nbsp; Twitter</i></a></li>
                  <li><a href=""><i class="fa fa-linkedin">&nbsp; LinkedIn</i></a></li>
                  <Br><Br>
               </ul>
            </div>
         </div>
      </div>
      <div class="row" style="padding:10px;"><i class="fa fa-copyright" aria-hidden="true"></i> Fermata Consulting Pvt. Ltd.</div>
   </div>
</footer>