       <section ng-show="howitworks">
                 <div class=" raisedbox centeralign"><button type="button" class="close"  ng-click="howitworks = !howitworks"><span aria-hidden="true">&times;</span> Close</button>
          <img class="img-responsive" style=" display: initial;" src="resources/images/Howitworks.png">
      </div>
    </section>
        <!--
        ==================================================
        Slider Section Start
        ================================================== -->
        <section id="hero-area"  style="min-height:500px;">
            <div class="container ">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="block wow fadeInUp" data-wow-delay=".3s">
                            
                            <!-- Slider -->
                            <section class="cd-intro">
                                <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s" >
                                <span style="color: #fff;">SMARTGROWTH</span><br>
                                <span class="cd-words-wrapper">
                                    <b class="is-visible">Tuition</b>
                                    <b>Trainer</b>
                                    <b>DayCare</b>
                                    <b>Health</b>
                                    <b>School</b>
                                    <b>Sports</b>
                                    <b>Events</b>
                                    <b>Celebration</b>
                                </span>
                                </h1>
                                </section> <!-- cd-intro -->
                                <!-- /.slider -->
                                <h2 class="wow fadeInUp animated" data-wow-delay=".6s" >
                                    We are SMARTGROWTH for young parents
                                </h2>
                                <a class="btn-lines dark light wow fadeInUp animated smooth-scroll btn btn-default btn-green" data-wow-delay=".9s" ng-click="howitworks = !howitworks" >View How It Works</a>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </section><!--/#main-slider-->
            <!--
            ==================================================
            Slider Section Start
            ================================================== -->
            
            <section id="about">
                <div class="container raisedbox">
                    <div class="row">
                        <div class="">
                            <div class="block wow fadeInLeft centeralign" data-wow-delay=".3s" data-wow-duration="500ms">
                                <h2>
                                Parenting in Your Palm!!
                                </h2>

                                <p>
                                  <span><b>SmartGrowth</b></span> is an integrated solution for all young parents. We cater the best way to solve parenting related challenges. We act as the bridge between Parents and the Service Pros. It’s a perfect blend of advice, insightful blogs, tips, yummy recipes, events & much more to know about your child better.</p><p>Get one step closer to raise a healthy and strong child with the wholesome parenting app - SmartGrowth.</p><p>We have Advisers, Experts, Kid Edutainment, and other Service Pros for the holistic development of your tot, tween & teen. Troubleshoot your daily parenting challenges with simple yet effective tool and experience the wonderful journey of parenting with SmartGrowth!!</p>
<p>
<span style="font-size:18px;"><b>Why SmartGrowth?</b></span><br>

Are you looking for the best way to engage your kids?<br>
Want to connect with different service providers related to tuition, birthday celebration, sports and health care?<br>
Not sure about which is the best school, sports or activity for your kids.<br>
Want to get expert’s advice for your child’s day to day behavior?<br>
</p>
<p>
<b>If you are dealing with these questions everyday, then SmartGrowth might just be the one</b>
</p>
                            </div>
                            
                        </div>
                        <!-- <div class="col-md-6 col-sm-6">
                            <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
                                <img src="images/about/about.jpg" alt="">
                            </div>
                        </div> -->
                    </div>
                </div>
            </section> <!-- /#about -->
            
            <!--
            ==================================================
            Portfolio Section Start
            ================================================== -->
            <portfolio-section></portfolio-section>
             <!-- #works -->
            <!--
            ==================================================
            Portfolio Section Start
            ================================================== -->
            <service-section></service-section>
                            
            <!--
            ==================================================
            Call To Action Section Start
            ================================================== -->
            <section id="call-to-action" class="">
                <div class="container ">
                    <div class="row raisedbox">
                        <div class="col-md-12">
                            <div class="block">
                                <h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">Providers</h1>
                                <p class="wow fadeInDown" data-wow-delay=".5s" data-wow-duration="500ms">Are you a Service Provider? Want to showcase your services in SmartGrowth? Wait no more. <br>Just download the Provider APP and increase your business.</p>
                                <a href="https://play.google.com/store/apps/details?id=com.smartgrowth.provider" target="_blank"  class="btn btn-default btn-contact wow fadeInDown" data-wow-delay=".7s" data-wow-duration="500ms" >Download Provider App</a>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </section>                                  
<script src="resources/js/support/slider.js"></script>