        <!--
        ==================================================
        Slider Section Start
        ================================================== -->
        <section id="hero-area" >
            <div class="container ">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="block wow fadeInUp" data-wow-delay=".3s">
                            
                            <!-- Slider -->
                            <section class="cd-intro">
                                <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s" >
                                <span ui-sref="register">SMARTGROWTH</span><br>
                                <span class="cd-words-wrapper">
                                    <b class="is-visible">Tuition</b>
                                    <b>Trainer</b>
                                    <b>DayCare</b>
                                    <b>Health</b>
                                    <b>School</b>
                                    <b>Sports</b>
                                    <b>Events</b>
                                    <b>Celebration</b>
                                </span>
                                </h1>
                                </section> <!-- cd-intro -->
                                <!-- /.slider -->
                                <h2 class="wow fadeInUp animated" data-wow-delay=".6s" >
                                    We are SMARTGROWTH for young parents
                                </h2>
                                <a class="btn-lines dark light wow fadeInUp animated smooth-scroll btn btn-default btn-green" data-wow-delay=".9s" href="#works" data-section="#works" >View Works</a>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </section><!--/#main-slider-->
            <!--
            ==================================================
            Slider Section Start
            ================================================== -->
            <section id="about">
                <div class="container raisedbox">
                    <div class="row">
                        <div class="">
                            <div class="block wow fadeInLeft centeralign" data-wow-delay=".3s" data-wow-duration="500ms">
                                <h2>
                                ABOUT US
                                </h2>
                                <p>
                                   Smart Growth is an integrated solutions for all new age parents. We cater the best way to solve parenting related challenges. We act as the bridge between Parents and the Service Pros. Its a perfect blend of amazing advice, tips, yummy recipes & much more to know more about your child.
                                    </p><p>We have Advisers, Experts, Kid edutainment, and other Service Pros for the holistic development of your tot, tween & teen. Experience the wonderful journey of parenting with Smart Growth!!
                                </p>
                            </div>
                            
                        </div>
                        <!-- <div class="col-md-6 col-sm-6">
                            <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
                                <img src="images/about/about.jpg" alt="">
                            </div>
                        </div> -->
                    </div>
                </div>
            </section> <!-- /#about -->
            
            <!--
            ==================================================
            Portfolio Section Start
            ================================================== -->
            <portfolio-section></portfolio-section>
             <!-- #works -->
            <!--
            ==================================================
            Portfolio Section Start
            ================================================== -->
            <service-section></service-section>
                            
            <!--
            ==================================================
            Call To Action Section Start
            ================================================== -->
            <section id="call-to-action" class="">
                <div class="container ">
                    <div class="row raisedbox">
                        <div class="col-md-12">
                            <div class="block">
                                <h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">Providers</h1>
                                <p class="wow fadeInDown" data-wow-delay=".5s" data-wow-duration="500ms">Are you a Service Provider? Want to showcase your services in SmartGrowth? Wait no more. <br>Just download the Provider APP and increase your business.</p>
                                <a href="" class="btn btn-default btn-contact wow fadeInDown" data-wow-delay=".7s" data-wow-duration="500ms">Download Provider App</a>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </section>                                  
<script src="resources/js/support/slider.js"></script>