<section id="works" class="works">
   <div class="container raisedbox">
      <div class="section-heading">
         <h1 class="title wow fadeInDown" data-wow-delay=".3s">LATEST BLOGS</h1>
         <p class="wow fadeInDown" data-wow-delay=".5s">
            Be a smart parent by reading the useful parenting tips and resources. <br>Have a glance and discover a new journey of Parenthood...
         </p>
      </div>
      <div class="row">
         <div class="col-sm-4 col-xs-12" ng-repeat="x in blogs">
            <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay="0ms">
               <div class="img-wrapper">
                  <img ng-src="{{x.image}}" class="img-responsive" alt="this is a title" >
                  <div class="overlay">
                     <div class="buttons">
                        <a href="" data-toggle="modal" data-target="#myModal">Details</a>
                     </div>
                  </div>
               </div>
               <figcaption>
                  <h4>
                     <a ui-href="homestate">
                     {{x.name}}
                     </a>
                  </h4>
                  <p>
                     {{x.detail}}
                  </p>
               </figcaption>
            </figure>
         </div>
      </div>
   </div>
</section>
<section id="works" class="works">
   <div class="container raisedbox">
      <div class="section-heading">
         <h1 class="title wow fadeInDown" data-wow-delay=".3s">LATEST EVENTS</h1>
         <p class="wow fadeInDown" data-wow-delay=".5s">
            
Looking for upcoming events and activities for your kids?<br> Discover and book amazing events nearby your area.
         </p>
      </div>
      <div class="row">
         <div class="col-sm-4 col-xs-12" ng-repeat="x in events">
            <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay="0ms">
               <div class="img-wrapper">
                  <img ng-src="{{x.image}}" class="img-responsive" alt="this is a title" >
                  <div class="overlay">
                     <div class="buttons">
                        <a href="" data-toggle="modal" data-target="#myModal">Details</a>
                     </div>
                  </div>
               </div>
               <figcaption>
                  <h4>
                     <a ui-href="homestate">
                     {{x.name}}
                     </a>
                  </h4>
                  <p>
                     {{x.detail}}
                  </p>
               </figcaption>
            </figure>
         </div>
      </div>
   </div>
</section>
<section id="works1" class="works">
   <div class="container raisedbox">
      <div class="section-heading">
         <h1 class="title wow fadeInDown" data-wow-delay=".3s">LATEST STORIES</h1>
         <p class="wow fadeInDown" data-wow-delay=".5s">
            A huge collection of bed-time stories is just a click away!!<br> Snuggle up together, explore and go on an adventure with your kids.
         </p>
      </div>
      <div class="row">
         <div class="col-sm-4 col-xs-12" ng-repeat="x in stories">
            <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay="0ms">
               <div class="img-wrapper">
                  <img ng-src="{{x.image}}" class="img-responsive" alt="this is a title" >
                  <div class="overlay">
                     <div class="buttons">
                        <a href="" data-toggle="modal" data-target="#myModal">Details</a>
                     </div>
                  </div>
               </div>
               <figcaption>
                  <h4>
                     <a ui-href="homestate">
                     {{x.name}}
                     </a>
                  </h4>
                  <p>
                     {{x.detail}}
                  </p>
               </figcaption>
            </figure>
         </div>
      </div>
   </div>
</section>
<section id="works2" class="works">
   <div class="container raisedbox">
      <div class="section-heading">
         <h1 class="title wow fadeInDown" data-wow-delay=".3s">LATEST RECIPES</h1>
         <p class="wow fadeInDown" data-wow-delay=".5s">
            A healthy eating starts with SmarthGrowth!! Try these yummy recipes of snacks, breakfast and lunch/dinner. <br>We bet your kids gonna love these.
         </p>
      </div>
      <div class="row">
         <div class="col-sm-4 col-xs-12" ng-repeat="x in recipes">
            <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay="0ms">
               <div class="img-wrapper">
                  <img ng-src="{{x.image}}" class="img-responsive" alt="this is a title" >
                  <div class="overlay">
                     <div class="buttons">
                        <a href="" data-toggle="modal" data-target="#myModal">Details</a>
                     </div>
                  </div>
               </div>
               <figcaption>
                  <h4>
                     <a ui-href="homestate">
                     {{x.name}}
                     </a>
                  </h4>
                  <p>
                     {{x.detail}}
                  </p>
               </figcaption>
            </figure>
         </div>
      </div>
   </div>
</section>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="margin-top:15%;">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header"  style="display:none">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
         </div>
         <div class="modal-body centeralign" style=" background-color: #2e3660;
            color: #fff;">
            Download App
            <br>
            <br>
            Coming Soon..
            <!-- <a href=""><img src="images/google-play-badge.png" style="height:50px;"></a> -->
            <br>
            <br>
            We are SMARTGROWTH for Young Parents
            <br>
            <br>
            Find Services from your kids from best providers
         </div>
         <div class="modal-footer"  style="display:none">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
         </div>
      </div>
   </div>
</div>