    <section style="min-height:500px;">
      <div class="container ">
        <div class="row raisedbox">    
          <ul class="nav nav-tabs" id="myTab">
            <li>
              <a ui-sref="eductionqa">Education</a>
            </li>
            <li class="">
              <a ui-sref="healthqueqa">Health Training</a>
            </li>
            <li class="">
              <a ui-sref="eventqa">Kids Events</a>
            </li>
            <li class="">
              <a ui-sref="sportsqa">Sport</a>
            </li>
            <li class="">
              <a ui-sref="celebrationqa">Celebration</a>
            </li>

          </ul>
          <div class="raisedbox">
            <div class="col-lg-12" style="padding:0px;"><img src="images/events.png" class="img-responsive"></div>
 <dir-disqus config="disqusConfigevents"></dir-disqus>
   </div>
 </div>
</div>
</section>